---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="date">
    <p align = "right"> actualitzat {{ site.time | date: "%m/%d/%Y" }} </p>
  </div>
  
  <div class="tags">
    {% assign sortedCategories = page.categories | sort %}
    {% for category in sortedCategories %}
        <span class="tag">
            <a href="/category/{{ category }}">#{{ category }}</a>
        </span>
    {% endfor %}
  </div>
  
  <div class="entry">
    {{ content }}
  </div>
  
  <div class="related">
    <hr>
    <h3>Posts relacionats</h3>
  </div>
  
  {% include related-posts.html %}
  {% include disqus.html %}
</article>
